#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    align-items: center;
}

.user {
    background-image: url("./assets/bg1.jpg");
    display: flex;
    flex-direction: column;
}

.profile {
    display: flex;
    flex-direction: column;
    line-height: 1.7rem;
}

.profile img {
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
}